$KhovBlue:#86bcc2;
$KhovDarkBlue: #599097;
$KhovOrange: #FB9536;
$DarkGrey: #545b62;

body{
  font-family: Raleway,sans-serif;

  h5, h4, h3, h2, h1 {
    color: $KhovBlue;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 0;
}

#header {
  position: sticky;
}
}

.navbar{
z-index: 1000;

  h1 {
    color:white!important;
    font-weight: lighter;
  }

}



.btn {
  background-color: $KhovBlue;
  border-color: white;
  border-width: 3%;
  

  &:hover {
    background-color:  $KhovOrange;
    border: none;
  }


}

.bg-info{
  background-color: $KhovBlue!important;
  }

.card-body{
  background-color: #f8f8f8
}

.custom-select{

  position: relative;
  text-align: center;
  color: $DarkGrey;
  border: $KhovBlue;
  border-bottom-style: solid;
  font-size: larger;

    option {
      color: $DarkGrey;

      &:hover {
        background-color: $KhovBlue;
        color: white;
      }

      &:focus{
        outline: none;
      }
    
  }
}


.option-selected {
  background-color: DodgerBlue;
}


#filterDiv{
  margin-bottom: 2%;

  #homeTypeBtns{
    width: 100%;
  }

  .form-group{
    text-align: left;
    font-weight: bold;
  }

  .card {
    z-index: 999;

  }
}


.linkInfo {
  float: right;
  color: blue;
}

.roomCount{
  width: 100%;
}

.right{
  float: right;
  padding-right: 2%;
}

.info{
  font-size: larger;
  width: 100%;
}

.list-group-item {
      padding: 1%;
      margin-right: 1rem;
      border: none;
}

input:checked  {
  color:$KhovOrange;
  background-color: $KhovBlue;
  font-style: normal;
} 

input[type=checkbox]:checked::after{
    background-color: $KhovBlue;
  
}

.b-pagination{
  li {
    
    button[role="menuitem"]{
      color: white;
      background-color: $KhovBlue;
      border-color: $KhovBlue;
    }

    button{
      color: $KhovBlue;
      border-radius: 10%;
      border-color: $KhovBlue;

      &:hover { 
        background-color: $KhovOrange;
      }
    }
  }
}

.page-item.active .page-link {
  background-color: $DarkGrey;
  border-color: $DarkGrey;
 
}


.meta-data{
  margin-bottom: 1%;

}

.dd {
  width: 100%;

  ul {
    // position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, -338px, 0px);
    padding-left: 3%;
    width: 100%;
    border:none;
    box-shadow:1px 1px 5px $KhovBlue;
  }

  span {
    font-weight: lighter;
  }
}

#clear {
  background-color: white;
  border-color: $KhovBlue;
  color: $KhovBlue;
  border-width: 2px;

  &:hover{
    background-color: $DarkGrey;
    border-color: $DarkGrey;
    border-width: 2px;

  }
  //width: 30%;
}

#save {
  margin-right: 1%;;
 
}

.badge {
  background-color: $DarkGrey;
  color: white;
  font-weight: lighter;
  padding: 1%;
  margin: 1px;

}

a:hover{
  color: $KhovOrange;
}

.b-sidebar {
  width: 50%;
  // overflow: hidden;
  // position: absolute;
  // bottom: 0;
  // z-index: 5;
}


.b-sidebar-outer {
  // position: absolute !important;
  // height: 100% !important;
  // left: 50%;
  z-index: 5;
  position: initial !important;

}

 .b-sidebar {
  // position: absolute !important;
  // height: 100% !important;
  z-index: 5;
  position: relative !important;
  width: 100%;
}


// .vue-affix {
//   position: relative;
// }
// .affix {
//   position: fixed;
// }
// .affix-bottom {
//   position: relative;
// }

.notALink{
  cursor:pointer;

  &:hover
  {
    color: $KhovOrange;
  }
}


